.links {
    margin-top: 3.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.links__list {
 display: flex;
    flex-direction: column;
    gap: 1.5rem;
}



.links__btn {
    text-align: center;
    background-color: #EAECF0;
  padding: 24px 32px;
  width: 100%;
    outline: none;
    border: 1px solid #EAECF0;
border-radius: 8px;
 font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
    color: #101828;
    cursor: pointer;
}

.links__btn a {
    text-decoration: none;
      
}

.links__socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}